* {
    margin: 0;
    padding: 0;
    font-family: courier,arial,helvetica;
}
body {
    background-color: #395D6E;
}
.conatinerlogin{
    text-align: center;
    margin-top: 70px;
}
input {
    background-color: #00000000;
    border-radius: 5px;
    line-height: 6px;
    padding: 9px;
    width: 200px;
    border: 1px solid #ccd0d5;
    margin: 4px;
}
.btnCadastrar:hover {
    background-color: #6EB3D4;
    cursor: pointer;
}
.btnLogin:hover {
    cursor: pointer;
    background-color: #6EB3D4;
}